<?xml version="1.0" encoding="UTF-8"?>  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns="http://java.sun.com/xml/ns/javaee"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"  
    version="3.0">

	<display-name>freemarker</display-name>
	
	<servlet>
	  	<servlet-name>CodeServletHandle</servlet-name>
	  	<servlet-class>servlet.CodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CodeServletHandle</servlet-name>
	  	<url-pattern>/getCode</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  	<servlet-name>DBServletHandle</servlet-name>
	  	<servlet-class>servlet.DBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBServletHandle</servlet-name>
	  	<url-pattern>/getTables</url-pattern>
	</servlet-mapping>
	
	<servlet>
	  	<servlet-name>TemplateServletHandle</servlet-name>
	  	<servlet-class>servlet.TemplateServlet</servlet-class>
	  	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>TemplateServletHandle</servlet-name>
	  	<url-pattern>/getTemplates</url-pattern>
	</servlet-mapping>
	
</web-app>
